.ms-auto {
    margin-left: auto;
}
#badminton-icon{
    border-radius: 15%;
}
.bg-light{
    background: #F2F3F1 !important;
}
#parta {
    padding-top: 135px;
    width: 80%;
}
#context-img{
    text-align: center;
}
#context-title{
    padding-bottom: 18px;
}
#context-photo{
    width: 60%;
    height: 70%;
}
#context-description{
    margin: auto;
}
#context-text{
    font-size: 20px;
}
