.ms-auto {
    margin-left: auto;
}
#badminton-icon{
    border-radius: 15%;
}
.bg-light{
    background: #F2F3F1 !important;
}
.bg-dark{
    background-color: #1C1921;
}
.text-light{
    color:#F2F3F1;
}
.text-dark{
    color: #1C1921;
}
#context {
    padding-top: 135px;
    /* width: 80%; */
    padding-bottom: 75px;
}
#context-img{
    text-align: center;
}
#context-title{
    padding-bottom: 18px;
}
#context-photo{
    width: 60%;
    height: 70%;
}
#context-description{
    margin: auto;
    /* padding-right: 100px; */
}
@media (min-width: 768px){
    #context-description{
        padding-right:100px;
    }
}
@media (max-width: 768px){
    #context-description{
        padding: 20px;
    }
    #context-title{
        padding-bottom: 0px;
    }
}
#context-text{
    font-size: 20px;
}

.cards-row{
    display:flex;
    align-items:baseline;
}
#sports-carnival{
    width: 40%;
    margin-bottom:40px;
}
#bwf {
    width:50%;
    margin-bottom:40px;
}
#hawk-eye{
    width: 50%;
    margin-bottom:40px;
}
#namd{
    width:60%;
    margin-bottom:40px;

}
#part-a{
    margin: auto;
    text-align: center;
    padding: 30px 0px 30px 0px;
}
#part-a-text, .dark-bg-headers{
    width: 50%;
    margin: auto;
    padding: 5px;
}
.sub-headers{
    font-weight: bold;
}
.part-a-mini-header{
    text-align:center;
    padding-top: 35px;
    padding-bottom: 15px;
}
#hardware-content, #software-content{
    margin: auto;
    width: 70%;
    text-align: center;
    padding-bottom: 40px;
}
.part-b-header{
    text-align:center;
    padding-top: 35px;
    padding-bottom: 30px;
}
.part-b-mini{
    padding-top: 10px;
    padding-bottom: 20px;
}
/* #footer{
    display: flex;
    align-items:baseline;
} */
#footer-icon{
    text-align:left;
}
#footer-author{
    text-align:center;
}
#footer-link{
    text-align:right;
}
#footer-alink:hover, #footer-alink:link, #footer-alink:visited, #footer-alink:active{
    color: #1C1921;
    text-decoration: none;
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
    align-content: center;
}
